/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

$defaultPageBackground: rgba(122, 124, 34, 1);//linear-gradient(90deg, #485563 90%, #29323c 10%);
$defaultFontColor: rgba(239,235,222,1); //Whisper White
$defaultBackgroundColor: rgba(45, 44, 47, 1); // Jet Black
$defaultDebugColor: rgba(199, 31, 45, 1); // High Risk Red
$defaultRowDebugColor: rgba(237, 255, 0, 1); // Safety Yellow
$defaultFontSize: 1em;
$defaultLineHeight: 1.4;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    background: $defaultPageBackground;
    color: $defaultFontColor;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);



body {
  font-size: 14px;
  color: #E8E8E8;
  font-family: "Walter Turncoat", cursive;
  display: block;
  width: 80%;
  height: 80%;
  min-height: auto;
  margin: 30px auto 0 auto;
  background-color: $defaultBackgroundColor;
  padding: 20px 30px;
  overflow-y: auto;
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
}

#app-content {
  section {
    max-width: 740px;
    margin: 5px auto 5px;
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap; */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;



    .column:first-of-type{
        flex-basis: 0px;
    }

    .column {
      background-color: $defaultDebugColor;
      margin: 5px;
      flex-basis: 10px;
      flex-shrink: 1;
      flex-grow: 1;
      justify-content: space-around;
    }

    .content {
      flex-shrink: 8;
      flex-grow: 8;
    }

    .title {
      flex-shrink: 8;
      flex-grow: 8;
    }

    .logo {
        flex-shrink: 2;
        flex-grow: 2;

        .site_logo {
          width: 128px;
          height: 128px;
          background-image: url("../img/beer-glass.svg");
          background-size: 128px 128px;
          background-position: 0 0;
          background-repeat: no-repeat;
        }

    }
  }

  section.row{
    min-height: 50px;
    background-color: $defaultRowDebugColor;
    overflow: visible;
  }

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
